.loginScreen{
    position: relative;
    height: 100%;
    background: url("https://images.unsplash.com/photo-1626814026160-2237a95fc5a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") center no-repeat;
    background-size: cover;
}
.loginScreen__logo{
    position:fixed;
    left: 0;
    width: 150px;
    object-fit: contain;
    padding-left: 20px;
}
.loginScreen__button{
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    color: #337def;
    background-color: #f6e8c8;
    cursor: pointer;
    border: none;
}
.loginScreen__button:hover{
    color: #ffcc5f;
    background-color: #337def;
    transition: all 0.3s;
}
.loginScreen__gradient{
    width: 100%;
    z-index: 1;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    background-image: linear-gradient(
        to top,
        rgba(0,0,0,0.8) 0,
        rgba(0,0,0,0) 60%,
        rgba(0,0,0,0.8) 100%
    );
}
.loginScreen__body{
    position: absolute;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;
    color: #f6e8c8;
    padding: 20px;
}
.loginScreen__body >h1{
    font-size: 3.2rem;
    margin-bottom: 20px;
}
.loginScreen__body >h2{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.loginScreen__body >h3{
    font-size: 1.3rem;
    font-weight: 400;
}
.loginScreen__input>form>input{
    padding: 10px;
    outline-width: 0;
    height: 30px;
    width: 30%;
    border: none;
    max-width: 600px;
}
.loginScreen__getStarted{
    padding: 16px 20px;
    font-size: 1rem;
    color: #337def;
    background-color: #f6e8c8;
    border: none;
    font-weight: 600;
    cursor: pointer;
}
.loginScreen__input{
    margin: 20px;
}