.signUpScreen{
    max-width: 300px;
    padding: 70px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(246, 232, 200, 0.7);
}
.signUpScreen > form > h1 {
    color: #337def;
    text-align: left;
    margin-bottom: 25px;
}
.signUpScreen>form{
    display: grid;
    flex-direction: column;
}
.signUpScreen > form > input {
    outline-width: 0;
    height: 40px;
    margin-bottom: 14px;
    border-radius: 5px;
    border: none;
    padding: 5px 15px;
}
.signUpScreen > form > button {
    padding: 16px 20px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    color: #337def;
    background-color: #f6e8c8;
    cursor: pointer;
}
.signUpScreen >form>h4{
    color: #337def;
    text-align: left;
    margin-top: 20px;
}
.signUpScreen__gray{
    color: #6c81a1;
}
.signUpScreen__link:hover{
    cursor: pointer;
    text-decoration: underline;
}