.banner {
    position: relative;
    height: 448px;
    object-fit: contain;
    color: white;
}
.banner__contents {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}
.banner__title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}
.banner_description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 80px;
}
.banner--fadeBottom {
    height: 7.4rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(255, 204, 95, 0.5),
        #fde9bc
    );
}
.banner__button{
    cursor: pointer;
    color: #337def;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #f6e8c8;    
}
.banner__button:hover{
    color: #ffcc5f;
    background-color: #337def;
    transition: all 0.3s;
}